</main>

<footer>
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top border-dark">
      <div class="col-md-4 d-flex align-items-center text-center">
        <a class="navbar-brand" href="/">MyAniList</a>
        <span class="mb-3 mb-md-0 text-body-secondary">
            © <%= new Date().getFullYear(); %> by 
           <a href="https://github.com/AlabicaCoff">AlabicaCoff</a>
          </span>
      </div>
    </footer>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
  
</script>
</body>

</html>